# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
wflsrv
*.exe
*.exe~
*.dll
*.so
*.dylib
out
/editors/vscode/extension/server/bin/*

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
vendor/

# Go workspace file
go.work

# node / vscode ignores
editors/vscode/extension/.vscode-test/
editors/vscode/extension/*.vsix
editors/vscode/extension/out
editors/vscode/extension/dist
editors/vscode/extension/node_modules
editors/vscode/extension/.vscode-test/
editors/vscode/extension/*.vsix
editors/vscode/extension/tmp/

# local / temp / files
/editors/vscode/extension/server/logs/*
.local/*
tmp/